[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
requests = "*"
streamlit-lottie = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
matplotlib = "*"
importlib-resources = "*"
bokeh = "==2.4.3"

[dev-packages]

[requires]
python_version = "3.10"
